body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dcd1dd;
}





a {
    font-weight:bold;
    color: #2120ba;
    text-decoration: none;
}
a:hover {
    font-weight:bold;
    color: #c22e1f;
    cursor:pointer;
    text-decoration: underline;
}


#drink_command {
	cursor: pointer;
	font-weight: bold;
	font-size: 24px;
}

#drink_stats {
	font-size: 10px;
	height: 270px;
	overflow:auto;
	border: 1px solid black;
	padding: 5px;
}


.logo {
    height:120px;
    background-image: url('../images/drunk-sapn_logo.png');
    background-repeat: no-repeat;
    background-position: top center;
	width: 300px;
	padding-bottom: 20px;
}


#info_box{
    margin-top:0px;
    float:right;
    font-size:10px;
    color:#5C5858;
    padding:4px 5px 5px 5px;
    -webkit-border-radius:0px 0px 6px 6px;
    -moz-border-radius:0px 0px 6px 6px;
    border-radius:0px 0px 6px 6px;
}

#transcript {
	height: 300px;
	overflow: auto;
	background: white;
	padding: 5px;
	
	border: 1px solid black;
}